@import 'themes';

@import "@nebular/theme/styles/globals";
@import '@nebular/auth/styles/globals';

@include nb-install() {
    @include nb-theme-global();
    @include nb-auth-global();
}

;

// Variable overrides first
$primary: #900;
$enable-shadows: true;
$prefix: "mo-";

// Then import Bootstrap
@import "../node_modules/bootstrap/scss/bootstrap";

$grid-breakpoints: (
    xs: 0,
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1200px,
    xxl: 1400px
);